<app-loading *ngIf="loading"></app-loading>
<app-errors *ngIf="mensajeError != null" [messageInput]="mensajeError"></app-errors>


<div class="card-columns" *ngIf="!loading">
    <div class="card" *ngFor='let albums of nuevasCanciones'>
        <img class="card-img-top" [src]="albums.images | noImages" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{albums.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artista of albums.artists" class="badge badge-primary">{{artista.name}}</span>
            </p>
        </div>
    </div>

    <div class="card-body m-5" *ngIf="error" class="alert-info ">
        <div width="100%; "> {{mensajeError}}</div>
    </div>