<app-loading *ngIf="loading"></app-loading>


<div class="row">
    <div class="col">
        <input type="text" placeholder="Buscar Artista" class="form-control" (onchange)="searchArtist(busquedasArtista.value)" #busquedasArtista>
        <label for="text">busquedas por artista</label>
        <button class="btn btn-alert" (click)="searchArtist(busquedasArtista.value)"></button>
    </div>
</div>
<div class="row">
    <div class="col">
        <input type="text" placeholder="Buscar Tracks" class="form-control" (keyup)="searchTrack(busquedasTracks.value)" #busquedasTracks>
        <label for="text">buscar por tracks</label>
        <button class="btn btn-alert" item-width="50px;" type="button" (click)="searchTrack(busquedasTracks.value)"></button>
    </div>
</div>

<app-card-artist class="card-columns" *ngFor="let artist of artists" [artist]="artist"></app-card-artist>
<app-card-artist class="car.columns" *ngFor="let track of tracks" [track]="track"></app-card-artist>


<div class="alert alert-danger" *ngIf="empty">
    <p>no hay resultados</p>
</div>