<div *ngIf="artist != null">
    <div class="card m-2" style="width: 18rem;">
        <div *ngIf="artist.images != null">
            <img (click)="verArtista(artist)" class="card-img-top puntero" [src]="artist.images | noImages">

        </div>
        <div class="card-body">
            <h5 class="card-title">{{artist.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>
<div *ngIf="track != null">
    <div (click)="verArtista(track)" class="card m-2 puntero" style="width: 18rem;">
        <div *ngIf="track.album.images != null">
            <img class="card-img-top" [src]="track.album['images'] | noImages">

        </div>
        <div class="card-body">
            <h5 class="card-title">{{track.name}}</h5>
            <p class="card-text">{{track.album.artists[0]}}</p>
        </div>

    </div>
</div>